@import '../../main.scss';

.collapse_container {
    width: 80%;
    margin: 20px auto 0 auto;     
}

.collapse_title_closed {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 18px;
    max-width: 1100px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.collapse_title_opened {
    background-color: rgba(255, 96, 96, 1);
    color: rgba(255, 255, 255, 1);
    max-width: 1100px;
    height: 45px;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
}

.collapse_description {
    background: $background-color;
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0px auto;
    padding: 20px 15px 15px 15px;
    border-radius: 0 0 10px 10px;
    max-width: 1100px;
    z-index: -1;
    overflow: hidden;
    animation: slide 0.4s ease-in-out;
    @keyframes slide {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.arrow_opened {
    transition: transform 0.3s;
    transform: rotate(180deg);
}

.arrow_closed {
    transition: transform 0.3s;
}

@media (max-width :768px){
    .collapse_description, .collapse_title_opened, .collapse_title_closed {
    font-size: 1rem;
    }
    .arrow_open , .arrow_closed {
        width:18px;
        height:auto;
    }
}