@import "../../main.scss";

.gallery {
    @include flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: $background-color;
    gap: 50px;
    max-width: 1240px;
    margin: 0 auto;
    border-radius: 25px;
    @media screen and (max-width: 768px) {
        padding: 25px;
        flex-direction: column;
        background-color: white;        
    }
}